/* Hanzo AI Brand Colors */
:root, .brand-hanzo {
  --color-brand: hsl(26, 73%, 51%);
  --color-brand-foreground: white;
  --color-brand-secondary: #c6bb58;
  --color-brand-secondary-foreground: #97890c;
  --color-brand-200: hsl(33, 100%, 50%);

  --color-landing-foreground: #59592a;
  --color-landing-foreground-200: #a8a866;
}

.dark:root, .dark .brand-hanzo {
  --color-landing-foreground: #e4e2d0;
  --color-landing-foreground-200: #b7af7e;

  --color-brand: #fff383;
  --color-brand-secondary: #fc7744;
  --color-brand-secondary-foreground: #521700;
  --color-brand-foreground: black;
  --color-brand-200: #fff7c8;
}

.brand-hanzo {
  --color-fd-primary: var(--color-brand);
}
